.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: var(--navbar-height);

    h1 {
        font-weight: var(--weigth-size-800);
        line-height: 100%;
        color: #c9c9c9;
    }
}

.logo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 100%;
    margin-top: calc(var(--navbar-height) + 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: var(--weigth-size-800);
        line-height: 100%;
        color: #c9c9c9;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 50px;
    }

    @media screen and (max-width: 720px) {
        width: 95%;
        margin: 0;
    }
}

.cards {
    width: 90%;
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 70px;
}
