.contentCard {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: flex-start;
    margin-top: 90px;
}

.text {
    font: var(--font-xxl);
    font-weight: var(--weigth-size-500);
    width: 300px;
}

.logoText {
    font: var(--font-l);
    opacity: 0.7;
    margin-bottom: 18px;
}

.paginationDots {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 12px;
    margin-top: 90px;
    padding-left: 20px;

    span {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--primary-color);
    }

    .active {
    }
}

.button {
    padding: 12px 24px;
    margin-top: 55px;
    font-weight: var(--weigth-size-500);
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scale: 1.15;
}

.image {
    display: inline-flex;
    width: 438px;
    height: 452px;

    image {
        display: inline-flex;
    }
}

.textOnImage {
    position: absolute;
    left: -20px;
    bottom: 240px;
    width: 200px;
    font: var(--font-xxl);
    font-weight: var(--weigth-size-700);
}

.numberOfImage {
    position: absolute;
    left: -20px;
    top: 75px;
    width: 200px;
    font: var(--font-xl);
}
