.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    width: 80vw;
    padding: 0 15px;
    font: var(--font-s);
    position: fixed;
    backdrop-filter: blur(4px);
    z-index: 100;
}

.left {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 45px;
    margin-left: 100px;
    font-weight: 500;
    cursor: pointer;

    a {
        opacity: 0.7;
        transition: all 0.1s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 45px;
}

.number {
    font-weight: var(--weigth-size-700);
}

.menu {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 35px;
    display: none;
    background: none;
    outline: none;
}

.icon {
    z-index: 100;
    width: 35px;
    height: 30px;
    fill: var(--primary-color);
}

.logo {
    fill: var(--primary-color);
    cursor: pointer;
}

.activeIcon {
    fill: var(--bg-color);
}

.menuContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font: var(--font-m);
}

@media (max-width: 1199px) {
    .Navbar {
        font: var(--font-xs);
    }

    .btn {
        padding: 10px 17px !important;
        font: var(--font-xs);
    }

    .links {
        gap: 25px;
        margin-left: 52px;
    }
}

@media (max-width: 991px) {
    .Navbar {
        font: var(--font-xs);
    }

    .btn {
        padding: 10px 17px !important;
        font: var(--font-xs);
    }

    .number {
        display: none;
    }

    .links {
        gap: 25px;
        margin-left: 52px;
    }
}

@media (max-width: 900px) {
    .Navbar {
        width: 90vw;
        padding: 0 20px;
    }

    .btn {
        display: none;
    }

    .number {
        display: none;
    }

    .links {
        display: none;
    }
}

@media (max-width: 575px) {
    .Navbar {
        width: 100vw;
        padding: 0 20px;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    font: var(--font-m);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--additional-color);

    .disabled {
        display: none;
    }

    svg {
        width: 70%;
        height: 70%;
        color: var(--white-color);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background: url('shared/assets/images/bgWhite.png');
        background-color: var(--white-color);
        background-size: cover;
        background-repeat: repeat;

        /* top box shadow */
        box-shadow: 0 0 20px rgb(168 168 168 / 15%);

        svg {
            width: 35px;
            height: 35px;
            color: var(--additional-color);
            margin: 0.5rem 1rem;
        }

        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            font-size: var(--font-xl);
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--gray-color);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--additional-color);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}
